# 1. Create a string with your name and print it

In [ ]:
my_name = "Shradha Naikwadi"
print(my_name)

Shradha Naikwadi

# 2. Find the length of the string "Hello World"

In [ ]:
message = "Hello World"
print(len(message))

11

# 3. Slice the first 3 characters from the string "Python Programming"

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

# 4. Convert the string "hello" to uppercase

In [ ]:
lower_str = "hello"
print(lower_str.upper())

HELLO

# 5. Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
fruit_sentence = "I like apple"
print(fruit_sentence.replace("apple", "orange"))

I like orange

# 6. Create a list with numbers 1 to 5 and print it

In [ ]:
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

# 7. Append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list_to_append = [1, 2, 3, 4]
list_to_append.append(10)
print(list_to_append)

[1, 2, 3, 4, 10]

# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list_to_remove = [1, 2, 3, 4, 5]
list_to_remove.remove(3)
print(list_to_remove)

[1, 2, 4, 5]

# 9. Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

# 10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
reversible_list = [10, 20, 30, 40, 50]
reversible_list.reverse()
print(reversible_list)

[50, 40, 30, 20, 10]

# 11. Create a tuple with the elements 100, 200, 300 and print it

In [ ]:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

# 13. Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

# 15. Create a tuple with three fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

# 16. Create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

# 17. Clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

# 18. Remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a.union(set_b))

{1, 2, 3, 4, 5}

# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set_x = {1, 2, 3}
set_y = {2, 3, 4}
print(set_x.intersection(set_y))

{2, 3}

# 21. Create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dict1 = {"name": "John", "age": 30, "city": "New York"}
print(dict1)

{'name': 'John', 'age': 30, 'city': 'New York'}

# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
print(dict4)

{'name': 'Bob', 'city': 'New York'}

# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

# 26. Create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3]
my_tuple = ("a", "b", "c")
my_dict = {"key1": "value1", "key2": "value2"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'key1': 'value1', 'key2': 'value2'}

# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [ ]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[6, 34, 78, 80, 89]

# 28. Create a list with strings and print the element at the third index

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "fig"]
print(string_list[3])

date

# 29. Combine two dictionaries into one and print the result

In [ ]:
dict_a = {"x": 1, "y": 2}
dict_b = {"y": 3, "z": 4}
combined_dict = {**dict_a, **dict_b}
print(combined_dict)

{'x': 1, 'y': 3, 'z': 4}

# 30. Convert a list of strings into a set

In [ ]:
string_items = ["apple", "banana", "cherry", "apple"]
string_set = set(string_items)
print(string_set)

{'cherry', 'banana', 'apple'}